nav{
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
    align-items: center;
    height: 80px;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    list-style: none;
}

